<app-background>
  <form [formGroup]="registerForm">
    <div class="container">
      <div class="image-container">
        <img class="image" src="../../../assets/background-image.jpg">
      </div>
      <div>
        <h1>Passwort vergessen</h1>
        <p>{{infoText}}</p>
      </div>
      <div class="input-field-container">
        <input
          type="email"
          placeholder="Email"
          class="input"
          formControlName="email"
          [ngClass]="{'error': registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')}"
        >
        <mat-error
          *ngIf="
                registerForm.controls['email'].touched &&
                registerForm.controls['email'].hasError('required')
              "
          class="mat-error"
        >
          Erforderlich
        </mat-error>
      </div>
      <div class="container">
        <div class="button-container">
          <app-button buttonText="SENDEN" (buttonClickedEvent)="onSendClick()"></app-button>
        </div>
        <div class="register-container">
          <span>Noch nicht registriert?</span>
          <a routerLink="/register"> Registrieren</a>
        </div>
      </div>
    </div>
    >
  </form>
</app-background>
