p {
  margin-left: 10px;
}

h1 {
  font-weight: bold;
  margin-left: 10px;
}

.register-container {
  margin-top: 10%;
}

.button-container {
  margin-top: 5%;
}

a {
  font-size: large;
  margin-left: 10px;
}
