p {
  margin-left: 10px;
}

h1 {
  font-weight: bold;
  margin-left: 10px;
}

.register-container {
  margin-top: 10%;
}

.button-container {
  margin-top: 5%;
}

a {
  color: black; /* Set the link color to black */
  font-weight: 1000;
  font-size: large;
  margin-left: 10px;
}
