<app-background>
  <app-nav></app-nav>
  <div class="electricity-component">
    <app-electricity-data></app-electricity-data>
  </div>
  <div class="container">
    <h3>Folgende Zeiträume sollten Sie nutzen:</h3>
    <div class="icon-container">
      <i class="optimal-period-icon"></i>
      <a>Öko- und Kosteneffizienter Zeitraum</a>
    </div>
    <div class="icon-container">
      <i class="green-period-icon"></i>
      <a (click)="selectGreen()">Nachhaltigster Zeitraum</a>
    </div>
    <div class="icon-container">
      <i class="cheap-period-icon"></i>
      <a (click)="selectCheap()">Günstigster Zeitraum</a>
    </div>
    <hr>
    <h3>Folgende Zeiträume sollten Sie vermeiden:</h3>

    <div class="icon-container">
      <i class="expensive-period-icon"></i>
      <a (click)="selectExpensive()">Teuerster Zeitraum</a>
    </div>
    <div class="icon-container">
      <i class="high-emissions-period-icon"></i>
      <a (click)="selectHighEmissions()">Höchster CO2-Ausstoß Zeitraum</a>
    </div>
    <div class="icon-container">
      <i class="worst-period-icon"></i>
      <a>Umwelt- und Kostenintensiver Zeitraum</a>
    </div>
  </div>
  <div class="dropdown-container">
    <app-select-menu [placeHolder]="placeHolder" (selectedValueEvent)="onSelect($event)"
                     [values]="values"></app-select-menu>
  </div>
</app-background>
